@config "../../tailwind.config.js";
@import "tailwindcss";

@theme {
  --color-primary-light: #c0deb6;
  --color-secondary-light: #e6deb1;
  --color-background_container: #eee;
  --color-background_box: #fff;
  --color-text: #222;
  --color-lightText: #555;
}

:root {
  font-family: "Inter", sans-serif;
  color: var(--color-text);
}

body {
  background: linear-gradient(
    90deg,
    var(--color-primary-light) 0%,
    var(--color-background_container) 60%,
    var(--color-secondary-light) 100%
  );
  min-height: 100vh;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 2rem;
}

h2 {
  font-size: 36px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}
