@import "tailwindcss";

@theme {
  --color-primary: #3dad1b;
  --color-secondary: #daba03;
  --color-primary-light: #3dad1b25;
  --color-secondary-light: #daba0325;
  --color-background_container: #eee;
  --color-background_box: #fff;
  --color-danger: #b00020;
  --color-text: #222;
  --color-lightText: #555;
}

:root {
  font-family: "Inter", sans-serif;
  color: var(--color-text);
}

body {
  background: linear-gradient(
    90deg,
    var(--color-primary-light) 0%,
    var(--color-background_container) 60%,
    var(--color-secondary-light) 100%
  );
  min-height: 100vh;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 2rem;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}
